// Sobrescribe las variables de colores

$primary: #3498db; // color principal
$secondary: #2ecc71; // color secundario
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;

// Styles

$body-bg: #B5BAC9;
$body-color: black;